@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


body {
    --sb-track-color: #ffffff00;
    --sb-thumb-color: #7d7d7d;
    --sb-size: 5px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

  .alfa-slab-one-regular {
    font-family: 'Alfa Slab One', serif;
    font-weight: 400;
    font-style: normal;
  }

  .fixed-height {
    height: 2.5em; /* Adjust based on the height of your animated text */
    display: flex;
    align-items: center;
  }
  